<!-- start section how it works -->
<section class="how-work mt-5 pt-5">
  <div class="container zeyara-container">
      <div class="text-box text-center mb-5">
          <h2>
              <span class="text-blue">How it works</span> A friendlier healthcare experience.
          </h2>
          <p>
              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
          </p>
      </div>
      <div class="row pt-5">
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/appointment.svg">
                  </div>
                  <h3>Book an online appointment</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>
              </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/help.svg">
                  </div>

                  <h3>Get the help you need</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>
              </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/care.svg">
                  </div>

                  <h3>Get the care you deserve</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end section how it works -->
