<!-- start footer -->
<footer>
    <div class="container zeyara-container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 text-center">

                <div class="content text-left">
                    <div class="title">Service</div>

                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Join as a doctor</a><span class="note success">We’re Hiring</span></li>
                        <li><a href="#">Our Doctors</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 text-center">
                <div class="content text-left">

                    <div class="title">Doctors</div>
                    <ul>
                        <li><a href="#">Cancer clinic</a></li>
                        <li><a href="#">Internal medicine</a></li>
                        <li><a href="#">Dermatology</a></li>
                        <li><a href="#">Mental Health</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 text-center">
                <div class="content text-left">
                    <div class="title">Packages</div>
                    <ul>
                        <li><a href="#">Loved Ones</a></li>
                        <li><a href="#">COVID-19 Test</a><span class="note new">new</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 text-center">
                <div class="content text-left">

                    <div class="title">Social</div>

                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-right">© 2020 MD Zeyara, All right reserved</p>
    </div>
</footer>
<!-- end footer -->
