<div class="login-block steps">
  <div class="text-center">
      <div class="steps-icon"><i class="fas fa-map-marker-alt"></i></div>
      <h3>Checkout</h3>
      <p>
          Enter your country to check your country availability
      </p>
  </div>

  <div class="form-steps text-center">
      <div class="step active"></div>
      <div class="step active"></div>
      <div class="step active"></div>
      <div class="step active"></div>
      <div class="step active"></div>
  </div>
  <div class="login-form payment-step">
      <ul>
          <li><img src="assets/images/icons/dollar.svg"> Delivery fees monthly <span class="text-blue">$14.99 USD</span></li>
          <li><img src="assets/images/icons/dollar.svg"> Total Amount <span class="text-blue">$14.99 USD</span></li>
      </ul>
      <div class="text-center">
          <div class="payment">
              <img src="assets/images/icons/paypal.png"> <span>Pay $14.99</span>
          </div>
      </div>
      <form class="login">
          <div class="form-group">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">
                      by clicking <strong class="text-red">Pay</strong> you agree to MD Zeyara
                      <a href="#">terms of services</a> and <a href="#">Privacy policy</a>
                  </label>
              </div>
          </div>
          <a routerLink="/pharmacy/add-medications" class="btn btn-gray next-step">Back <img src="assets/images/icons/arrow.svg"></a>
      </form>

  </div>
</div>
