html,
body {
    height: 100%;
}

body {
    font-family: "spoof" !important;
}

.zeyara-container {
    width: 100%;
    max-width: 100%;
    padding: 0 6vw;
}

a {
    color: $lightish-blue;
}

img {
    max-width: 100%
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.06;
    letter-spacing: -1.08px;
    text-align: center;
    color: $dark;
    margin-bottom: 15px;
    .text-blue {
        display: block;
        font-size: 24px;
        color: $lightish-blue;
        margin-bottom: 15px;
        font-weight: 500;
    }
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: $dark;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: $dark-slate-blue;
    margin-bottom: 24px;
}

.text-box {
    max-width: 476px;
    margin: 0 auto;
    p {
        font-family: "AvenirNext";
        font-size: 20px;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.64);
    }
}

.slick-slide:focus-visible,
.slick-slide:focus {
    outline: none !important;
}

.btn-dark-blue {
    padding: 6px 12px;
    background-color: $dark-slate-blue;
    font-size: 18px;
    color: #fff;
    transition: all 250ms ease;
    &:hover {
        color: #fff;
        background-color: $night-blue;
    }
}

.btn-gray-dark {
    padding: 20px 29.5px 19px 26px;
    border-radius: 20px;
    background-color: $metallic-blue;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    img {
        margin-top: 8px;
        float: right;
    }
}

.text-dark-blue {
    color: $dark-slate-blue;
}

.modal {
    .modal-dialog {
        width: 100%;
        max-width: 652px;
    }
    .modal-content {
        border-radius: 20px;
    }
    .modal-header {
        padding: 20px 25px 0 0;
        border: 0;
        opacity: 1;
        .close {
            padding: 0;
            z-index: 999;
            position: relative;
            cursor: pointer;
            img {
                margin: 25px 20px -35px 0;
            }
        }
        span {
            display: inline-flex;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: rgb(231, 240, 254);
            color: rgb(0, 109, 245);
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-family: "AvenirNext";
        }
    }
    .modal-body {
        padding-bottom: 65px;
        @media(min-width: 767px) {
            padding: 0 90px 65px 90px;
        }
        .check-icon {
            background: rgb(199, 237, 250);
            color: rgb(24, 173, 226);
            width: 130px;
            height: 130px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-size: 45px;
            background-image: linear-gradient(to top, #bfeafa, #e0f5fc);
            margin-bottom: 18px;
        }
        h3 {
            font-size: 31px;
            font-weight: 600;
            color: #305567;
        }
        p {
            font-size: 16px;
            line-height: 1.44;
            color: #4c5355;
        }
        .btn-primary {
            width: 100%;
            max-width: 388px;
            border-radius: 20px;
            background-color: $lightish-blue;
            padding: 20px 25px;
            font-size: 18px;
            text-align: left;
            img {
                float: right;
                margin-top: 6px;
            }
        }
    }
    &#verify-modal {
        .modal-body {
            padding: 30px 15px;
            @media(min-width: 767px) {
                padding: 65px 90px;
            }
            .form-control {
                max-width: 388px;
                height: 50px;
                border-radius: 10px;
                border: solid 1px $cool-grey;
            }
        }
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /*display: none;
    -webkit-appearance: none;*/
    left: -10px;
    right: auto;
    position: absolute;
    z-index: 999;
    opacity: 0;
}

.btn-green {
    padding: 20px 30px 19px 26px;
    border-radius: 20px;
    background-color: #78bcb0;
    font-size: 18px;
    color: #fff;
    &:hover {
        background-color: $seafoam-blue;
        color: #fff;
    }
}

.btn-gray {
    padding: 20px 30px 19px 26px;
    border-radius: 20px;
    background-color: rgba(201, 211, 210, 0.84);
    color: #fff;
    &:hover {
        background-color: $seafoam-blue;
        color: #fff;
    }
}

.btn-primary-light {
    padding: 8px 12px 8px 9px;
    border-radius: 6px;
    background-color: rgba(33, 184, 238, 0.15);
    font-size: 16px;
    color: $metallic-blue;
}

.booking-login .doc-name,
.zeyara-dashboard .doc-name,
.doc-name.circled {
    color: $metallic-blue;
    padding: 5px 15px 6px 7px;
    border-radius: 27px;
    border: solid 1px rgba(0, 0, 0, 0.14);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    img {
        width: 30px;
        margin-right: 10px;
    }
}

.btn-outline-primary {
    border-color: $lightish-blue;
    color: $lightish-blue;
    &:hover {
        background: $lightish-blue;
        color: #fff;
    }
}
