$black:#000;
$dark-slate-blue:#224a5d;
$night-blue:#060430;
$lightish-blue:#385df9;
$metallic-blue:#517b8c;
$seafoam-blue:#5ac4b2;
$cool-grey:#a0a7af;
$rose-pink:#f77f89;
$dark-sky-blue:#3f8dd8;
$dark:#2f2d4a;
$lightish-blue:#385df9;
$duck-egg-blue:#e0f5fc;
$duck-egg-blue-three:#eaf8fd;