<div class="main">
  <img src="assets/images/Pattern.svg" class="abs-img">
  <!-- start search-hero section -->
  <section class="zeyara-hero loved-hero">
      <div class="container zeyara-container">
          <div class="text-box text-center">
              <h1><span class="blue-text">Beloved ones package</span>Take and give
                  <strong>the care you actually deserve  </strong></h1>
              <p>Access US top doctors, save yourself time and distance by easily scheduling a video consultation.</p>

              <a href="#" class="btn btn-gray-dark">get start <img src="assets/images/icons/arrow.svg"></a>
          </div>

      </div>
  </section>
  <!-- end search-hero section -->

  <!-- start setion loved ones-->
  <section class="loved-ones">
      <div class="container zeyara-container">
          <div class="row">
              <div class="col-auto">
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved4.svg">
                      <div class="feature-title">Monitor vital signs remotely</div>
                  </div>
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved6.svg">
                      <div class="feature-title">Access to certified labs from the comfort of your home</div>
                  </div>
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved5.svg">
                      <div class="feature-title">Acess to our doctors in your homeland</div>
                  </div>
                  <div class="show-sm">
                      <div class="zeyara-logo"><img src="assets/images/logo.svg"></div>
                      <h2>
                          <span class="text-blue">$128/month/person</span> Share the gift of health with the <span class="gray">people</span> you <a href="#">care</a> about
                      </h2>
                      <a href="#" class="btn btn-gray-dark">get start <img src="assets/images/icons/arrow.svg"></a>


                  </div>
              </div>
              <div class="col">
                  <img src="assets/images/icons/loved.svg" class="img-fluid">
                  <h2 class="hide-sm">
                      <span class="text-blue">$128/month/person</span> Share the gift of health with the <span class="gray">people</span> you <a href="#">care</a> about
                  </h2>
                  <a href="#" class="btn btn-gray-dark hide-sm">get start <img src="assets/images/icons/arrow.svg"></a>

                  <div class="zeyara-logo hide-sm"><img src="assets/images/logo.svg"></div>

              </div>
              <div class="col-auto">
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved3.svg">
                      <div class="feature-title">Monthly home delivery medicine</div>
                  </div>
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved1.svg" class="svg" id="icon1">
                      <div class="feature-title">Monitor vital signs remotely</div>
                  </div>
                  <div class="loved-feature">
                      <img src="assets/images/icons/loved2.svg">
                      <div class="feature-title">Acess to our doctors in your homeland</div>
                  </div>

              </div>
          </div>
      </div>
  </section>
  <!-- start setion loved ones-->
</div>
