<!-- start section accessus -->
<section class="access-doctor pt-3 pb-5">
  <div class="container zeyara-container">
      <div class="access-block">
          <div class="row align-items-center ">
              <div class="col-md-7 order-md-2 text-md-right">
                  <img src="assets/images/map.svg">
              </div>
              <div class="col-md-5 order-md-1">
                  <h2 class="text-left">Unparalleled <br/> One-to-One Care</h2>
                  <p>
                      Access US top doctors, save yourself time and distance by easily scheduling a video consultation. Connect with your doctor 1:1 anywhere at any time.

                  </p>
                  <a href="#" class="btn btn-primary">Book a zeyara <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- start section accessus -->
