<app-header></app-header>
<!-- start search-hero section -->
<section class="zeyara-hero pharmcy-hero">
  <div class="container zeyara-container">
      <div class="row">
          <div class="col-md-6 col-12 left-side">
              <h1 class="text-md-left"><span class="blue-text">Online Pharmacy</span>Delivering reliable <strong> on time home delivery  </strong></h1>
              <p>Access US top doctors, save yourself time and distance by easily scheduling a video consultation.</p>
              <a href="#" class="btn btn-green">Get Start <img src="assets/images/icons/arrow.svg"></a>
          </div>
          <div class="col-md-6 col-12">
              <div class="pharmacy-search-block">
                  <h3 class="text-center">What are you looking for?</h3>
                  <p class="delivery-country text-center"><i class="fas fa-map-marker-alt"></i> We deliver only to <span>Sudan</span></p>

                  <!-- start search block content -->
                  <div class="zeyara-search">
                      <form action="#" method="GET">
                          <input type="search" placeholder="Check your meds availability" class="form-control">
                          <a routerLink="/pharmacy/select-country" class="btn btn-gray">Search <img src="assets/images/icons/arrow.svg"></a>
                      </form>
                      <div class="search-desc">Already have an account? <a href="#">Sign In</a></div>
                      <div class="result-block pharmacy-results">
                          <!--div class="results">
                              <ul>
                                  <li>
                                      <a href="#"><span class="float-right"><i class="fas fa-check-circle"></i>Available</span> Amlo-10mg  <span>Amlodipine besilate 10mg</span> </a></li>
                              </ul>
                          </div>
                          <div class="no-result">
                              <p>No result founded</p>
                              <a href="#">See all specialties <i class="fas fa-angle-right"></i></a>
                          </div-->

                      </div>
                  </div>
                  <!-- end search block content -->
              </div>
          </div>
      </div>



  </div>
</section>
<!-- end search-hero section -->
<!-- start section how it works -->
<section class="how-work mt-5 pt-5 mb-md-5 pb-5">
  <div class="container zeyara-container">
      <div class="text-box text-center mb-5">
          <h2>
              <span class="text-blue">How it works</span> Getting started right now is easy
          </h2>
          <p>
              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
          </p>
      </div>
      <div class="row pt-5 ">
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/create.svg">
                  </div>
                  <h3>Create your account</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>
              </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/submit-svg.svg">
                  </div>

                  <h3>Submit your medications</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>
              </div>
          </div>
          <div class="col-sm-4 col-12 mb-3">
              <div class="works-card text-center">
                  <div class="card-img-block">
                      <img src="assets/images/icons/care.svg">
                  </div>

                  <h3>We deliver to you every month</h3>
                  <p>
                      Go ahead a book your appointment on the date and time that suits your schedule
                  </p>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- end section how it works -->
<!-- start section subscribe -->
<section class="subscribe">
  <div class="container zeyara-container">
      <div class="row align-items-center">
          <div class="col-lg-8 col-md-6 col-12 hide-sm">
              <img src="assets/images/pharmacy.png" class="pharmacy-img">
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <h2 class="text-md-left">Get your monthly subscription for <br/>only $14.99</h2>
              <p>Access US top doctors, save yourself time and distance by easily scheduling a video consultation. Connect with your doctor 1:1 anywhere at any time.
              </p>
              <a href="#" class="btn btn-green">Get Start <img src="assets/images/icons/arrow.svg"></a>
          </div>

      </div>
  </div>
</section>

  <app-questions-section></app-questions-section>
  <!-- start zeyara intro block -->
  <div class="zeyara-intro text-center">
    <div class="inner-block">
        <h2>
            <span class="text-blue">We got your back</span> Not an mDzeyara Patient?
        </h2>
        <p>
            Book a consultation with one of our doctors and we can help you get the right medication
        </p>
        <a href="#" class="btn btn-green">Get Start <img src="assets/images/icons/arrow.svg"></a>

        <div class="white-bg">
            <div class="doctors-img">
                <img src="assets/images/icons/doc.png"> <span>More than 24 cerified doctors </span>
            </div>
            <div class="text-note">
                Book a consultation with one of our doctors and we can help you get the right medication
            </div>
        </div>
    </div>
</div>
<!-- end zeysara intro block -->
<app-one-to-one></app-one-to-one>
<app-footer></app-footer>
