<div class="">
  <div class="session-info">
      <div class="row">
          <div class="col-auto ">
              <img src="assets/images/icons/icon1.svg">
          </div>
          <div class="col pl-0">
              <h4>
                  Cancer Consulations
                  <span>60 mins / 4:30 PM EST 12 Jun 2020</span>
              </h4>
              <span class="doc-name"><img src="assets/images/doctors/d4.png"> Sami Elamin</span>
          </div>
      </div>
      <ul>
          <li><img src="assets/images/icons/dollar.svg"> session Fees <span class="text-blue">$30 USD</span></li>
          <li><img src="assets/images/icons/dollar.svg"> Total amount <span class="text-blue">$30 USD</span></li>
      </ul>
  </div>
  <div class="zeyara-faq">
      <div>
          <h4>Frequently Asked Questions.</h4>
          <div class="accordion" id="accordionExample">
              <div class="card">
                  <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Is MD-Zeyara easy to use?  <span class="collapse-icon"><i class="fas fa-minus"></i></span>
                </button>
                      </h2>
                  </div>

                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-auto">
                                  <img src="assets/images/icons/Q.png">
                              </div>
                              <div class="col">
                                  <p>
                                      “Md-Zeyara is very eaasy to use, it’s very good website. Well thought out about booking/rescheduiling/canceling an appointment. Also Doctor’s feedback mechanism is good and describes all the basics in a good way.”
                                  </p>
                                  <span class="faq-author">Ahmed Wahba <img src="assets/images/icons/palestine.png"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          What’s LOVED ONES Package?  <span class="collapse-icon"><i class="fas fa-minus"></i></span>
                </button>
                      </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-auto">
                                  <img src="assets/images/icons/Q.png">
                              </div>
                              <div class="col">
                                  <p>
                                      “Md-Zeyara is very eaasy to use, it’s very good website. Well thought out about booking/rescheduiling/canceling an appointment. Also Doctor’s feedback mechanism is good and describes all the basics in a good way.”
                                  </p>
                                  <span class="faq-author">Ahmed Wahba <img src="assets/images/icons/palestine.png"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
