<!-- start section speciality -->
<section class="speciality">
  <div class="container zeyara-container">
      <h2 class="text-left">All specialities</h2>
      <div class="speciality-card">
          <div class="row mx-0">
              <div class="col-md-6 shadow-right">
                  <div class="row">
                      <div class="col-lg-auto  col-12">
                          <img src="assets/images/icons/icon1.svg">
                      </div>
                      <div class="col">
                          <h3>Dermatology clinic</h3>
                          <p>
                              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
                          </p>
                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 shadow-left">
                  <div class="available-doc">
                      <div class="head-title">Available doctors</div>
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-12">
                              <div class="row mb-3">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <a routerLink="/login/login-step-one" class="btn btn-dark-blue">Book an online zeyara <img src="assets/images/icons/arrow.svg"></a>
                              <span class="note"><i class="far fa-calendar-alt"></i> Appointments available Today</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="speciality-card">
          <div class="row mx-0">
              <div class="col-md-6 shadow-right">
                  <div class="row">
                      <div class="col-lg-auto  col-12">
                          <img src="assets/images/icons/icon2.svg">
                      </div>
                      <div class="col">
                          <h3>Dermatology clinic</h3>
                          <p>
                              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
                          </p>
                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 shadow-left">
                  <div class="available-doc">
                      <div class="head-title">Available doctors</div>
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-12">
                              <div class="row mb-3">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <a routerLink="/login/login-step-one" class="btn btn-dark-blue">Book an online zeyara <img src="assets/images/icons/arrow.svg"></a>
                              <span class="note"><i class="far fa-calendar-alt"></i> Appointments available Today</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="speciality-card">
          <div class="row mx-0">
              <div class="col-md-6 shadow-right">
                  <div class="row">
                      <div class="col-lg-auto  col-12">
                          <img src="assets/images/icons/icon3.svg">
                      </div>
                      <div class="col">
                          <h3>Dermatology clinic</h3>
                          <p>
                              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
                          </p>
                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 shadow-left">
                  <div class="available-doc">
                      <div class="head-title">Available doctors</div>
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-12">
                              <div class="row mb-3">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <a routerLink="/login/login-step-one" class="btn btn-dark-blue">Book an online zeyara <img src="assets/images/icons/arrow.svg"></a>
                              <span class="note"><i class="far fa-calendar-alt"></i> Appointments available Today</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="speciality-card">
          <div class="row mx-0">
              <div class="col-md-6 shadow-right">
                  <div class="row">
                      <div class="col-lg-auto  col-12">
                          <img src="assets/images/icons/icon4.svg">
                      </div>
                      <div class="col">
                          <h3>Dermatology clinic</h3>
                          <p>
                              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
                          </p>
                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 shadow-left">
                  <div class="available-doc">
                      <div class="head-title">Available doctors</div>
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-12">
                              <div class="row mb-3">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <a routerLink="/login/login-step-one" class="btn btn-dark-blue">Book an online zeyara <img src="assets/images/icons/arrow.svg"></a>
                              <span class="note"><i class="far fa-calendar-alt"></i> Appointments available Today</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="speciality-card">
          <div class="row mx-0">
              <div class="col-md-6 shadow-right">
                  <div class="row">
                      <div class="col-lg-auto  col-12">
                          <img src="assets/images/icons/icon5.svg">
                      </div>
                      <div class="col">
                          <h3>Dermatology clinic</h3>
                          <p>
                              Access US top doctors, save yourself time and distance by easily scheduling a video consultation.
                          </p>
                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 shadow-left">
                  <div class="available-doc">
                      <div class="head-title">Available doctors</div>
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-12">
                              <div class="row mb-3">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-auto pr-0 pl-2">
                                      <img src="assets/images/doctors/d1.png" class="doc-img">
                                  </div>
                                  <div class="col">
                                      <div class="doc-name">Sami Elamin, MD</div>
                                      <div class="doc-spec">Dentist, Cosmetic Dentist</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <a routerLink="/login/login-step-one" class="btn btn-dark-blue">Book an online zeyara <img src="assets/images/icons/arrow.svg"></a>
                              <span class="note"><i class="far fa-calendar-alt"></i> Appointments available Today</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end section speciality -->
