 <!-- start search-hero section -->
 <section class="zeyara-hero inner-hero mental-hero">
  <div class="container zeyara-container">
      <div class="row align-items-center">
          <div class="col-lg-auto text-lg-left col-12 pb-lg-5">
              <h1 class="text-lg-left"><span class="blue-text">Mental health</span> Prioitize your
                  <strong>mental health with MD-zeyara. </strong></h1>
              <div class="doctors-img">
                  <img src="assets/images/icons/doc.png"> <span>More than 24 cerified doctors </span>
              </div>

              <!-- end search block content -->
          </div>
          <div class="col text-md-right hidden-md">
              <img src="assets/images/icons/health.svg">
          </div>
      </div>



  </div>
</section>
<!-- end search-hero section -->
<app-specialties-list></app-specialties-list>
