<!-- start section FAQ -->
<section class="zeyara-faq pb-5">
  <div class="container zeyara-container">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion" id="accordionExample">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Is MD-Zeyara easy to use?  <span class="collapse-icon"><i class="fas fa-minus"></i></span>
            </button>
                  </h2>
              </div>

              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-auto">
                              <img src="assets/images/icons/Q.png">
                          </div>
                          <div class="col">
                              <p>
                                  “Md-Zeyara is very eaasy to use, it’s very good website. Well thought out about booking/rescheduiling/canceling an appointment. Also Doctor’s feedback mechanism is good and describes all the basics in a good way.”
                              </p>
                              <span class="faq-author">Ahmed Wahba <img src="assets/images/icons/palestine.png" ></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What’s LOVED ONES Package?  <span class="collapse-icon"><i class="fas fa-minus"></i></span>
            </button>
                  </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-auto">
                              <img src="assets/images/icons/Q.png">
                          </div>
                          <div class="col">
                              <p>
                                  “Md-Zeyara is very eaasy to use, it’s very good website. Well thought out about booking/rescheduiling/canceling an appointment. Also Doctor’s feedback mechanism is good and describes all the basics in a good way.”
                              </p>
                              <span class="faq-author">Ahmed Wahba <img src="assets/images/icons/palestine.png"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- end section FAQ -->
