<div class="login-block steps">
  <div class="text-center">
      <div class="steps-icon"><i class="fas fa-map-marker-alt"></i></div>
      <h3>Check If we deliver to you</h3>
      <p>
          Enter your country to check your country availability
      </p>
  </div>

  <div class="form-steps text-center">
      <div class="step active"></div>
      <div class="step "></div>
      <div class="step "></div>
      <div class="step "></div>
      <div class="step "></div>
  </div>
  <div class="available-search pharmacy-search-block">
      <!-- start search block content -->
      <div class="zeyara-search">
          <form action="#" method="GET">
              <input type="search" placeholder="Check your meds availability" class="form-control">
              <a routerLink="/pharmacy/sign-in" class="btn btn-green">next <img src="assets/images/icons/arrow.svg"></a>
          </form>

          <div class="result-block available-results">
              <!--div class="results">
                  <ul>
                      <li>
                          <a href="#"><span class="float-right"><i class="fas fa-check-circle"></i>Available</span>  Sudan <img src="assets/images/icons/palestine.png">  </a></li>
                  </ul>
              </div>
              <div class="no-result">
                  <p>No result founded</p>
                  <a href="#">See all specialties <i class="fas fa-angle-right"></i></a>
              </div-->

          </div>
      </div>
      <!-- end search block content -->
  </div>
</div>
