<div class="doctor-info-row active">
  <div class="row mb-3">
      <div class="col-lg-7 col-12">
          <div class="doctor-card ">
              <div class="main-info">

                  <div class="row">
                      <div class="col-auto">
                          <img src="assets/images/doctors/d1.png" class="doc-img hide-sm">
                      </div>
                      <div class="col">
                          <div class="doctor-rate">

                              <h3>
                                  <img src="assets/images/doctors/d1.png" class="doc-img show-sm">
                                  <div class="inner-head">
                                      Sami Elamin, MD
                                      <span>
                                          Internal Medicine & Cardiology
                                      </span>
                                  </div>
                              </h3>
                              <span class="rate"><i class="fas fa-star"></i> 4.7</span>
                          </div>

                          <ul>
                              <li><img src="assets/images/icons/dollar.svg"> Online consultaion: $343 / 60 Mins</li>
                              <li><img src="assets/images/icons/checked.svg"> <span class="green-text">96% of patients</span> have successfully booked with these insurances</li>
                              <li><img src="assets/images/icons/lang.svg"> Language English, Arabic</li>
                          </ul>
                          <button class="btn btn-dark-blue block-collapsed-btn show-md">booking <img src="assets/images/icons/arrow.svg"></button>
                      </div>
                  </div>

              </div>
              <div class="card-body">
                  <div class="info">
                      <h3>about sami</h3>
                      <p>
                          Periodontics is the medical-surgical specialty of Dentistry that studies the prevention, diagnosis and treatment of diseases of the gums and tissues that support the teeth, for the maintenance of their health, function and aesthetics.


                      </p>
                  </div>
                  <div class="info">
                      <h3>specialties</h3>
                      <p>
                          Primary Care Doctor

                      </p>
                  </div>
                  <div class="info">
                      <h3>education and training</h3>
                      <p>
                          Medical School - Sackler School of Medicine, Tel Aviv University, Doctor of Medicine Beth Israel Medical Center, Residency in Internal Medicine


                      </p>
                  </div>
                  <div class="info">
                      <h3>language spoken</h3>
                      <p>
                          English,Arabic
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-12 right-part">
          <div class="doctor-calander">
              <div class="sticky-part">
                  <h4>Sami’s availability</h4>
                  <div class="calandar-div">
                      <div class="table-responsive">
                          <table class="table table-borderless">
                              <thead>
                                  <tr>
                                      <th scope="col">
                                          <span class="day today">today</span>
                                          <span class="date">23 Nov</span>
                                      </th>
                                      <th scope="col">
                                          <span class="day">mon</span>
                                          <span class="date">24 Nov</span>
                                      </th>
                                      <th scope="col">
                                          <span class="day">Tue</span>
                                          <span class="date">25 Nov</span>
                                      </th>
                                      <th scope="col">
                                          <span class="day">Tue</span>
                                          <span class="date">26 Nov</span>
                                      </th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          <span class="active">1:35 PM</span>
                                      </td>
                                      <td><span>2:35 PM</span></td>
                                      <td><span>3:35 PM</span></td>
                                      <td><span>4:35 PM</span></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span>1:35 PM</span>
                                      </td>
                                      <td><span>2:35 PM</span></td>
                                      <td><span>3:35 PM</span></td>
                                      <td><span>4:35 PM</span></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span>1:35 PM</span>
                                      </td>
                                      <td><span>2:35 PM</span></td>
                                      <td><span>3:35 PM</span></td>
                                      <td><span>4:35 PM</span></td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span>1:35 PM</span>
                                      </td>
                                      <td><span>2:35 PM</span></td>
                                      <td><span>3:35 PM</span></td>
                                      <td><span>4:35 PM</span></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="inner">
                      <a routerLink="/login/step" class="btn btn-dark-blue">book <i class="fas fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
