<!-- start section zeyara doctors -->
  <section class="zeyara-doctors">
      <div class="container-fluid">
        <ngx-slick-carousel class="carousel slider-nav" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let doctor of doctors" class="slide">
            <div class="slider__item">
              <img [src]="doctor.img" class="doctor-img" alt="">
            </div>
          </div>
        </ngx-slick-carousel>
        <ngx-slick-carousel class="carousel slider-for" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="doctor-info">
                <div class="doctor-name">Sami Elamin, MD1</div>
                <p>
                    Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                </p>
                <div class="doc-certificate">
                    <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                </div>
                <div class="doc-major">
                    <span>Pediatric and Adult Neuroradiology second opinions</span>
                    <span>Ultrasound</span>
                </div>
                <a href="#">Know more <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Teo Elamin, MD2</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Melisa Elamin, MD3</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Sami Elamin, MD4</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Sami Elamin, MD5</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Sami Elamin, MD6</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
          <div ngxSlickItem>
            <div class="doctor-info">
                <div class="doctor-name">Teo Elamin, MD7</div>
                <p>
                    Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                </p>
                <div class="doc-certificate">
                    <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                </div>
                <div class="doc-major">
                    <span>Pediatric and Adult Neuroradiology second opinions</span>
                    <span>Ultrasound</span>
                </div>
                <a href="#">Know more <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
          <div ngxSlickItem>
              <div class="doctor-info">
                  <div class="doctor-name">Sami Elamin, MD8</div>
                  <p>
                      Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                  </p>
                  <div class="doc-certificate">
                      <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                  </div>
                  <div class="doc-major">
                      <span>Pediatric and Adult Neuroradiology second opinions</span>
                      <span>Ultrasound</span>
                  </div>
                  <a href="#">Know more <i class="fas fa-angle-right"></i></a>
              </div>
          </div>
        </ngx-slick-carousel>


        <!-- <div class="slider slider-nav">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div class="slider__item" *ngFor="let doctor of doctors">
              <img [src]="doctor.img" class="doctor-img">
            </div>
          </ngx-slick-carousel>
        </div> -->
        <!-- <div class="slider slider-for">
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Sami Elamin, MD</div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Teo Elamin, MD
                    </div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Melisa Elamin, MD
                    </div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Sami Elamin, MD</div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Sami Elamin, MD</div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Sami Elamin, MD</div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div>
                <div class="doctor-info">
                    <div class="doctor-name">Sami Elamin, MD</div>
                    <p>
                        Medical Training at Northwestern, University of Chicago and Touro University. Currently Faculty Radiologist at University Of Arizona College Of Medicine
                    </p>
                    <div class="doc-certificate">
                        <img src="assets/images/columbia.png"><img src="assets/images/emory.png">
                    </div>
                    <div class="doc-major">
                        <span>Pediatric and Adult Neuroradiology second opinions</span>
                        <span>Ultrasound</span>
                    </div>
                    <a href="#">Know more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div> -->
      </div>
  </section>
  <!-- end section zeyara doctors -->
