<div class="modal fade" id="verify-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body ">
              <h3>Verify your Phone number</h3>
              <p>We've sent you a sms just now to confirm that the phone number you provided is correct. Didn't get it? Resend</p>
              <form>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter verification code">
                  </div>
                  <a data-dismiss="modal" routerLink="/register/step-two" type="submit" class="btn btn-primary">Verify <img src="assets/images/icons/arrow.svg"></a>
              </form>

          </div>
      </div>
  </div>
</div>
