<div class="login-block steps">
  <div class="text-center">
      <div class="steps-icon"><i class="fas fa-map-marker-alt"></i></div>
      <h3>Add your delivery address</h3>
      <p>
          Enter your country to check your country availability
      </p>
  </div>

  <div class="form-steps text-center">
      <div class="step active"></div>
      <div class="step active"></div>
      <div class="step active"></div>
      <div class="step "></div>
      <div class="step "></div>
  </div>
  <div class="login-form">

      <form class="login">
          <div class="form-group no-icon">
              <label>Your address</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group no-icon">
              <label>Your address 2</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group no-icon">
              <label>City/town name</label>
              <select class="form-control custom-select">
                  <option>-</option>
                  <option>option one</option>
                  <option>option two</option>
                  <option>option three</option>
                  <option>option four</option>
              </select>
          </div>
          <div class="form-group no-icon">
              <label>Country</label>
              <input type="text" class="form-control" value="Sudan">
          </div>

          <a routerLink="/pharmacy/add-medications" class="btn btn-green">Next <img src="assets/images/icons/arrow.svg"></a>
      </form>

  </div>
</div>
